


/* banner style  */
.banner{
    background-color: blue;
    margin-bottom: 50px;
}
.copa-america{
   display: flex;
    align-items: center;
}
.copa-america .jump img{
    width: 557px;
    height: 438px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    overflow: hidden;
    
    
}
.copa-america .jump img:hover{

    transform: scale(1.3);
    transition: transform 1s ease;
}
.copa-america .heading{
    
    margin-right: 102px;
    margin-left: 156px;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;

}
.copa-america .jump{
    margin-right: 140px;
}
h1{
    font-size: 50px;
}
.watch-live{
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 5px 10px;

}
/* players style  */


.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    margin-bottom: 165px;
    
   


}
.top-players .players{
    width: 330px;
    
    padding: 15px;
    margin-left: 30px;
    
    box-shadow: 10px 10px 20px gainsboro;
    overflow: hidden;
   

    
}
.top-players .players img{
    margin: 5px solid whitesmoke;
    padding: 15px;
    width: 100%;
    
}
.top-players .players img:hover{
    transform: scale(1.3);
    transition: transform 1s ease;
}
/* lastly */

.last{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.last .image img{
    height: 427px;
    width: 567px;
    padding: 15px;
    overflow: hidden;


}
.last .image img:hover{
    transform: scale(1.3);
    transition: transform 1s ease;

}
.details{
    width: 470px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
}
/* footer  */
.footer .logo{
    width: 470px;
    height: 110px;
}
.least{
    width: 470px;
    height: 213px;
    margin-left: 475px;
    margin-right: 475px;
}
.least{
    display: flex;
    flex-direction: column;
    
}
.least .icon{
    padding-left: 150px;
    padding-right: 50px;
}
.least .icon .la{
    margin: 15px;
}
/* media queries */
@media only screen and (max-width:688px) {
    
    section{
        width: 100%;
    }
    
    .copa-america, .last{
        flex-direction: column;
        
        
    }
    .top-players{
        grid-template-columns: repeat(1, 1fr);
    }
    .copa-america, .last{
        align-items: unset;
    }
    .copa-america .heading, .last, .least{
        margin-left: unset;
        margin-right: unset;
    }
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    section{
        width: 100%;
    }
    .top-players{
        grid-template-columns: repeat(2, 1fr);
    }
    .copa-america, .last{
        flex-direction: column;
    }
    .copa-america .heading, .last, .least{
        margin-left: unset;
        margin-right: unset;
    }

}
